@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", sans-serif;
}

h1 {
  font-size: 120px;
  line-height: 120px;
  text-transform: uppercase;
}

h2 {
  font-size: 56px;
  line-height: 88px;
  text-transform: uppercase;
}

h3 {
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  color: #60606c;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
}

sup {
  font-size: 75%;
  line-height: 1;
  text-transform: lowercase;
  color: #8711c1;
}
